/* Jumbotron Main styling */
#jumbo-main {
    background-color:black;
    /* background-image: url(/images/jumbo-bk.jpg); */
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 3;
    height: 100%;
    min-height: 100vh;
    padding-top: 15vh;
    /* padding-top: 190px; */
    
}

/* Links */

#about {
    line-height: 4;

}

#contact {
    background-color:black;
    line-height: 3;
   
}

#resume {
    background-color: white;
    color: black;

}



h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}   

.navbar-brand {
    font-family: 'Pacifico', cursive;
}

.margin-hr {

    margin-left: 35%;
    margin-right: 35%;
}

.line-sep {

    border-bottom: 5px solid black;
}



/* Footer */

footer {
    margin-top: auto;
    
}


.socials {
    padding-top: 2%;
}

.git:hover {
    background-color: white;
    transition: 0.8s;
}

.linked:hover {
    background-color: white;
    transition: 0.8s;

}

.whats:hover {
    background-color: white;
    transition: 0.8s;

}



