
.jumbotron {
    background-color:black;
    /* background-image: url(/images/jumbo-bk.jpg); */
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 3;
    /* padding-top: 190px; */
    
}

.jumbotron h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}   

.navbar-brand {
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Pacifico', cursive;
}

.line-sep {

    border-bottom: 5px solid black;
}
