/* Jumbotron styling */
#jumbo-main {
    background-color:black;
    /* background-image: url(/images/jumbo-bk.jpg); */
    background-repeat: no-repeat;
    background-size: contain;
    line-height: 3;
    height: 100vh;
    padding-top: 15vh;
    /* padding-top: 190px; */
    
}

#about {
    line-height: 4;

}

#contact {
    background-color:black;
    line-height: 3;
}

#resume {
    background-color: white;
    color: black;
}



h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}   

.navbar-brand {
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Pacifico', cursive;
}

.margin-hr {

    margin-left: 25%;
    margin-right: 25%;
}

.line-sep {

    border-bottom: 5px solid black;
}

footer {
    margin-top: auto;
    height: 20vh;
}

.footer-copyright {
    margin-top: 30px;


}

.git:hover {
    background-color: white;
}

.linked:hover {
    background-color: white;
}

.whats:hover {
    background-color: white;
}

